//- Repo card img
//- -----------------------------------------
//- ATTITRIBUTES
//- name - Name of repo (used for url)
//- img - Thumbnail img for repo
//- alt (optional) - alt text

a(href=demo || `https://github.com/townofdon/${name}` target="_blank" ref="noopener noreferrer")
  img(
    alt=alt || name
    src=img
    width="400"
    align="bottom"
  )
